.nav-menu {
  background: linear-gradient(90deg, #1a3a8f, #2a4ba0, #1a3a8f);
  color: white; /* Белый текст */
  padding: 20px; /* Чтобы текст не прилипал к краям */
  border-radius: 8px; /* Закругленные углы (по желанию) */
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0 30px;
  font-family: "Times", sans-serif;
   font-size: 16px; /* Фиксированный размер */
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s;
  padding: 5px 10px;
  border-radius: 3px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}
